body {
    background: #A9E5BB;
}
 
 
.rulesBox,
.resultBox{
    position: absolute;
    left:30%;
    top:30%;
}
 
.rulesBox{
    width: 40%;
    background-color: darkslategrey;
    border-radius: 5px;
}
 
.rulesBox .rulesTitle{
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 30px;
    font-weight: 700;
    background-color: #004085;
    color: #A9E5BB;
}

.rulesList{
    color: whitesmoke;
    font-weight: 600;
}

#start{
    background-color: #F7B32B;
    font-size: 20px;
    font-weight: 600;
    margin-left: 40%;
}

.nextButton {
    background-color: #F7B32B;
    font-size: 20px;
    font-weight: 600;
    margin-left: 33%;
}
 
.rulesBox .rulesList{
    padding: 15px 30px;
}
 
.rulesBox .rulesList .rules{
    margin: 5px 0;
    font-size: 17px;
}

.timer .countdown {
    font-size: 40px;
    font-weight: 600;
    padding-right:10px;
}

.quizBox{
    width: 30%;
    background-color: darkslategrey;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    position: absolute;
    left: 35%;
    top: 20%;
}

.quizBox button{
    align-items: center;
}

.quizBox.showQuiz {
     display: flex;
     flex:column;
 }

.resultBox.showResult{
     display: block;
     position: absolute;
     left: 35%;
 }

.quizBox .answers .option:hover{
    background: black;
    color: white
}

.timer{
    color: blue;
    background-color: #F7B32B;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    padding: 10px 10px 10px 20px;
    position: absolute;
    top: 0%;
    right:0%;
}
 
section .questions{
    font-size: 25px;
    font-weight: 600;
    background-color: #004085;
    color: white;
    padding-left:20px;
}
 
section .answers{
    padding: 20px 0 0 20px;
    display: block;   
    background-color: #F7B32B;
    border: 2px solid #FCF6B1;
    margin-bottom:15px;
}

section .answers .option{
    font-weight: 600;
}

.resultBox{
    background: darkslategray;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 30%;
    align-items: center;
    display:none;
}

.resultBox button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background: whitesmoke;
}
 
.score{
    font-size: large;
    font-weight: 600;
    color: whitesmoke;
    margin-bottom: 20px;
}

.bottom{
    background: black;
    position: absolute;
    left: 35%;
    bottom: 5%;
    width: 30%;
    height: 20%;
    border: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    overflow: scroll;
}

.bottom h1{
    color: brown;
    font-size: x-large;
    font-weight: 600;
    text-align: center;
    border-bottom: 3px solid burlywood;
}

.leaderboard{
    color:whitesmoke;

}
 